@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center" style="background: url('@Url.Content("/Images/hotel2.jpg")'); background-size: contain;background-repeat: no-repeat; height: 65vh; max-height: 100%; max-width: 100%; width: 1300px; background-position: center;">
   
</div>
