@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Запазваме си правото периодично да актуализираме и изменяме настоящата Политика за поверителност, за да отразяваме всички изменения на начина, по който обработваме личните Ви данни или измененията на вашите законови изисквания.</p>
